[package]
name = "allcrypt_wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
argon2 = "0.5"
rand = "0.8"
aes-gcm = "0.10"
getrandom = { version = "0.2", features = ["js"] }
